.progress-circle {
  border: 2px solid#5799ae;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-left: -8px;
  margin-right: -8px;
  background-color: white;
  z-index: 12;
  position: absolute;
  top: -25%;
}
@media screen and (max-width: 480px) {
  .progress-circle {
    width: 25px;
    height: 25px;
    top: 12%;
  }
}
